BODY {
  BACKGROUND-IMAGE:URL(CONTENT/HOME/BACKPICS/PRISM.PNG);
  BACKGROUND-SIZE:1000PX;
  BACKGROUND-ATTACHMENT:FIXED;
}

A {
  TEXT-DECORATION:NONE;
}

.NAV {fe
  WIDTH:1330PX;
  BACKGROUND-COLOR:RGBA(255,255,0,1);
  HEIGHT:60PX;
  MARGIN:AUTO;
  OPACITY:0.7;
  OVERFLOW:NONE;
  BORDER-RADIUS:20PX;
  BORDER:1PX SOLID RGB(0,0,255);
}


UL {
  MARGIN:0;
  PADDING:0;
  LIST-STYLE:NONE;
}

LI {
  FLOAT:LEFT;
}


.NAV A:LINK {
  COLOR:RGBA(0,0,0,1);
  WIDTH:155PX;
  TEXT-DECORATION:NONE;
  DISPLAY:BLOCK;
  TEXT-ALIGN:CENTER;
  PADDING:15PX;
  FONT-SIZE:25PX;
  FONT-FAMILY:ROCKWELL, CENTURY GOTHIC;
  FONT-WEIGHT:BOLD;
  TEXT-TRANSFORM:NORMAL;
}

.NAV A:HOVER {
  BACKGROUND-COLOR:RGBA(240,255,240,.2);
  TRANSITION:0.6S;
  BORDER-RADIUS:20PX;
  BORDER:1PX SOLID #000;
}

.HEADER VIDEO {
  BORDER-RADIUS:20PX;
  BORDER:2PX SOLID RGBA(0,0,255,1);
  MARGIN-TOP:170PX;
}

.MAKATI {
  MARGIN-TOP:0PX;
  margin:0 auto;
	padding: 10PX;
  WIDTH:100%;
  BACKGROUND-IMAGE:LINEAR-GRADIENT(TO BOTTOM, #FFF, RGBA(240,255,240,.5));
	position:fixed;
}

.MAKATI #IMG1 {
  FLOAT:RIGHT;
  MARGIN-RIGHT:50PX;
  PADDING:10PX;
  BORDER:2PX SOLID #000;
  BORDER-RADIUS:100PX;
}

.MAKATI #IMG2 {
  FLOAT:LEFT;
  MARGIN-LEFT:50PX;
  PADDING:10PX;
  BORDER:2PX SOLID #000;
  BORDER-RADIUS:100PX;
}

.MAKATI .CONTAINER P {
  FONT-FAMILY:OLD ENGLISH TEXT MT;
	color:black;
  FONT-SIZE:40PX;
  BORDER:2PX SOLID #000;
  BORDER-RADIUS:20PX;
  MARGIN-LEFT:500PX;
  MARGIN-RIGHT:500PX;
	padding:5px;
	text-align: center;
  BACKGROUND-COLOR:RGBA(175,238,238,1);
}

.CONTAINER A {
  TEXT-DECORATION:NONE;
}

.MAKATI .CONTAINER P:HOVER {
  BACKGROUND-COLOR:RGBA(127, 255, 0,1);
  TRANSITION:.5S;
  BORDER:5PX SOLID #000;
}

.MAKATI #IMG1 {
  BACKGROUND-COLOR:RGBA(175,238,238,1);
  TRANSITION:3S;
}

.MAKATI #IMG2 {
  BACKGROUND-COLOR:RGBA(175,238,238,1);
  TRANSITION:3S;
}

.TOOLTIP {
  POSITION:RELATIVE;
  Z-INDEX:1;
}

.TOOLTIP SPAN {
  DISPLAY:NONE;
  FONT-SIZE:20PX;
  FONT-FAMILY:CALIBRI;
}

.TOOLTIP:HOVER {
  Z-INDEX:2;
}

.TOOLTIP:HOVER SPAN {
  DISPLAY:BLOCK;
  WIDTH:200PX;
  PADDING:5PX;
  COLOR:#FFF;
  BACKGROUND-COLOR:RGBA(200,200,200,.5)
  FONT-FAMILY:CALIBRI;
  TEXT-DECORATION:NONE;
  POSITION:ABSOLUTE;
  MARGIN-LEFT:200PX;
}

SLIDER {
  DISPLAY:BLOCK;
  WIDTH:100%;
  HEIGHT:100%;
  BACKGROUND-COLOR:#1F1F1F;
  OVERFLOW:HIDDEN;
  POSITION:ABSOLUTE;
}

SLIDER > * {
  POSITION:ABSOLUTE;
  DISPLAY:BLOCK;
  WIDTH:100%;
  HEIGHT:100%;
  BACKGROUND:#1F1F1F;
  ANIMATION:SLIDE 12S INFINITE;
  OVERFLOW:HIDDEN;
}

SLIDE:NTH-CHILD(1) {
  LEFT:0%;
  ANIMATION-DELAY:-1S;
  BACKGROUND-IMAGE:URL(CONTENT/HOME/IMAGE3.JPG);
  BACKGROUND-SIZE:COVER;
  BACKGROUND-POSITION:CENTER;
}

SLIDE:NTH-CHILD(2) {
  ANIMATION-DELAY:2S;
  BACKGROUND-IMAGE:URL(CONTENT/HOME/IMAGE1.JPG);
  BACKGROUND-SIZE:COVER;
  BACKGROUND-POSITION:CENTER;
}

SLIDE:NTH-CHILD(3) {
  ANIMATION-DELAY:5S;
  BACKGROUND-IMAGE:URL(CONTENT/HOME/IMAGE2.JPG);
  BACKGROUND-SIZE:COVER;
  BACKGROUND-POSITION:CENTER;
}

SLIDE:NTH-CHILD(4) {
  ANIMATION-DELAY:8S;
  BACKGROUND-IMAGE:URL(CONTENT/HOME/CITYHALL.JPG);
  BACKGROUND-SIZE:COVER;
  BACKGROUND-POSITION:CENTER;
}

SLIDE P {
  FONT-FAMILY:COMFORTAA;
  FONT-SIZE:70PX;
  TEXT-ALIGN:CENTER;
  DISPLAY:INLINE-BLOCK;
  WIDTH:100%;
  MARGIN-TOP:340PX;
  COLOR:#FFF;
}

@KEYFRAMES SLIDE {
  0% {LEFT:100%; WIDTH:100%;}
  5% {LEFT:0%;}
  25% {LEFT:0%;}
  30% {LEFT:-100%; WIDTH:100%}
  30.0001% {LEFT: -100%; WIDTH:0%}
  100% {LEFT:100%;}
}

.CITYHALL P {
  FONT-FAMILY:GEORGIA;
  BACKGROUND-COLOR:RGBA(255,255,255,.5);
  COLOR:#000;
  BORDER:1PX SOLID #000;
  BORDER-RADIUS:25PX;
  MARGIN-TOP:400PX;
}

H1 {
  PADDING-TOP:19PX;
  MARGIN-TOP:0PX;
  COLOR:#FFF;
  TEXT-ALIGN:CENTER;
  TEXT-TRANSFORM:UPPERCASE;
  FONT-FAMILY:COPPERPLATE GOTHIC;
  BACKGROUND-COLOR:RGBA(255,0,0,.5);
  BORDER-RADIUS:20PX;
  WIDTH:75%;
  HEIGHT:60PX;
  MARGIN-LEFT:AUTO;
  MARGIN-RIGHT:AUTO;
  BORDER:2PX #000 SOLID;
}

H1:HOVER {
  BACKGROUND-COLOR:RGBA(0,0,255,.5);
  TRANSITION:.5S;
}

.FORM1 {
  BACKGROUND-IMAGE:LINEAR-GRADIENT(TO BOTTOM, #FFF, RGBA(240,255,240,.5));
  FONT-FAMILY:CALIBRI;
  HEIGHT:500PX;
  WIDTH:350PX;
  BORDER-RADIUS:10PX;
  BORDER:1PX BLUE SOLID;
  Margin: auto;
}

.FORM1 FORM {
  MARGIN:AUTO;
  PADDING-TOP:10PX;
  TEXT-ALIGN:CENTER;
}

.FORM1 LEGEND {
  FONT-SIZE:20PX;
  FONT-FAMILY:COPPERPLATE GOTHIC BOLD;
}

.RESERVATIONHOTELS #RESERVATIONHOTELSIMG1 IMG {
  TEXT-ALIGN:CENTER;
  PADDING:0PX;
  BORDER-RADIUS:20PX;
  BORDER:2PX WHITE SOLID;
}

.RESERVATIONHOTELS #RESERVATIONHOTELSIMG1 {
  TEXT-ALIGN:CENTER;
}

.RESERVATIONHOTELS P {
  BACKGROUND-COLOR:WHITE;
  MARGIN-LEFT:200PX;
  MARGIN-RIGHT:200PX;
  FONT-FAMILY:CENTURY GOTHIC;
  PADDING:10PX;
}

.RESERVATIONHOTELS IMG {
  WIDTH:500PX;
  HEIGHT:350PX;
}

.EVENTS {
  BACKGROUND-COLOR:WHITE;
  OPACITY:0.9;
  MARGIN-LEFT:200PX;
  MARGIN-RIGHT:200PX;
  MARGIN-TOP:250PX;
  FONT-FAMILY:CENTURY GOTHIC;
  PADDING:5PX 30PX;
  FONT-SIZE:30PX;
  BORDER:2PX LIGHTBLUE SOLID;
  BORDER-RADIUS:10PX;
}

.EVENTS P {
  OPACITY:1;
}

.EVENTS:HOVER {
  BACKGROUND-COLOR:LIGHTBLUE;
  COLOR:DARKGREEN;
  TRANSITION:1S;
  BORDER:10PX BLACK SOLID;
}

.FACTS {
  MARGIN-TOP:250PX;
  BACKGROUND-COLOR:RGBA(255,255,255,.9);
  HEIGHT:100PX;
  PADDING-TOP:14PX;
  TEXT-ALIGN:CENTER;
  BORDER-RADIUS:10PX;
}

.FACTS H1 {
  COLOR:BLACK;
}

.FACTS:HOVER {
  BACKGROUND-IMAGE:URL(CONTENT/HOME/BACKPICS/FULL-BLOOM.PNG)
}

.FACTS H2 {
  FONT-SIZE:40PX;
  FONT-FAMILY:AHARONI;
  PADDING:20PX;
  BACKGROUND-COLOR:WHITE;
  BORDER-RADIUS:10PX;
}

.FACTS P {
  FONT-SIZE:30PX;
  FONT-FAMILY:AHARONI;
  PADDING:20PX;
  BORDER-RADIUS:10PX;
  BACKGROUND-COLOR:WHITE;
  WIDTH:60%;
  FLOAT:LEFT;
}

.FACTS IMG {
  WIDTH:400PX;
  MARGIN-TOP:20PX;
  BORDER:2PX WHITE SOLID;
  BORDER-RADIUS:2PX;
}

.FACTS SPAN {
  FONT-SIZE:40PX;
  TEXT-TRANSFORM:UPPERCASE;
}

.FESTIVALS P {
  WIDTH:90%;
  BACKGROUND-COLOR:WHITE;
  BORDER:1PX BLACK SOLID;
  BORDER-RADIUS:10PX;
  FONT-FAMILY:CENTURY GOTHIC;
  FONT-SIZE:30PX;
  PADDING:20PX 40PX;
  MARGIN-LEFT:20PX;
}

.FESTIVALS IMG {
  WIDTH:40%;
  
  MARGIN-TOP:280PX;
}

.LANDCONTAINER {
  BACKGROUND-IMAGE:URL(CONTENT/HOME/BACKPICS/DARKNESS.PNG);
  WIDTH:60%;
  MARGIN:50PX 250PX;
  TEXT-ALIGN:CENTER;
  COLOR:WHITE;
  PADDING:10PX;
  BORDER-RADIUS:10PX;
}

.LANDMARKS IMG {
  WIDTH:650PX;
}

.LANDMARKS P {
  FONT-SIZE:20PX;
}

/*PICTURE EFFECTS*/


/*SHRINK*/
.SHRINK IMG {
  HEIGHT: 400PX;
  WIDTH: 400PX;

  -WEBKIT-TRANSITION: ALL 1S EASE;
  -MOZ-TRANSITION: ALL 1S EASE;
  -O-TRANSITION: ALL 1S EASE;
  -MS-TRANSITION: ALL 1S EASE;
  TRANSITION: ALL 1S EASE;
}

.SHRINK IMG:HOVER {
  WIDTH: 300PX;
  HEIGHT: 300PX;
}

/*TILT*/
.TILT {
  -WEBKIT-TRANSITION: ALL 0.5S EASE;
     -MOZ-TRANSITION: ALL 0.5S EASE;
       -O-TRANSITION: ALL 0.5S EASE;
      -MS-TRANSITION: ALL 0.5S EASE;
          TRANSITION: ALL 0.5S EASE;
}

.TILT:HOVER {
  -WEBKIT-TRANSFORM: ROTATE(-10DEG);
     -MOZ-TRANSFORM: ROTATE(-10DEG);
       -O-TRANSFORM: ROTATE(-10DEG);
      -MS-TRANSFORM: ROTATE(-10DEG);
          TRANSFORM: ROTATE(-10DEG);
}

/*PICTURE EFFECTS*/